<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-header panel-header-info" style="background-color: #00BCD4">
							<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-body">
										<form th:action="@{/base/infonegocios/create}" th:method="post">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Nombre Negocio</label>
														<input type="text" class="form-control" name="nombre" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Telefono</label>
														<input type="text" class="form-control" name="telefono" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Email</label>
														<input type="text" class="form-control" name="email" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Contacto</label>
														<input type="text" class="form-control" name="contacto" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Logo</label>
														<input type="text" class="form-control" name="logo" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Acerca de</label>
														<div class="form-group">
															<label class="bmd-label-floating">
																Registro de Negocios necesario para la tabla de InfoNegocios.
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<button class="btn btn-default" type="submit">
													<span class="icon text-white-50"><i class="fas fa-save"></i></span>
													<span class="text"> Guardar</span>
												</button>
												<a class="btn btn-link" href="/base/infonegocios">Volver</a>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer>

</body>
</html>
