<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
	 	<div class="container-fluid">
	 		<div class="row">
	 			<div class="col-md-12">
	 				<div class="panel">
	 					<div class="panel-header panel-header-info" style="background-color:#00BCD4">
	                  		<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})"></div>
	                	</div>
	 				</div>
               		<div class="container">
               			<form th:object="${moneda}">
               				<div class="form-group col-md-6">
					          <label class="control-label">#Id</label>
					          <input class="form-control" readonly type="text" th:value="${moneda.id}" />
					        </div>
					        <div class="form-group col-md-6">
					          <label class="control-label">S&iacute;mbolo</label>
					          <input class="form-control" readonly type="text" th:value="${moneda.simbolo}" />
					        </div>
					        <div class="form-group col-md-6">
					          <label class="control-label">Pa&iacute;s</label>
					          <input class="form-control" readonly type="text" th:value="${moneda.pais.nombre}" />
					        </div>
					        <div class="form-group col-md-6">
					          <label class="control-label">Base</label>
					          <input class="form-control" disabled type="checkbox" th:checked="${moneda.base}" />
					        </div>
					        <div class="form-group col-md-6">
					          <label class="control-label">Activo</label>
					          <input class="form-control" disabled type="checkbox" th:checked="${moneda.activo}" />
					        </div>
					     </form>
					     <div class="pull-right">
				            <a class="btn btn-success" th:href="@{/base/monedas/edit={id}(id=${moneda.id})}">Actualizar</a>
					        <a class="btn btn-info " href="/base/monedas">Volver</a>
					     </div>
               		</div>
	 			</div>
	 		</div>
		 </div>
	</div>
		<footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer>
	
</body>
</html>
