<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_listado :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_listado :: sidebar"></div>
	<div th:insert="plantillas/plantilla_listado :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
		<!-- <div class="container"> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-header panel-header-info" style="background-color: #00BCD4">
							<div th:insert="plantillas/plantilla_listado :: titulo-listado (titulo_listado=${titulo_listado})"></div>
							<!-- <p class="card-category"> Here is a subtitle for this table</p> -->
							<a href="/base/paises/new" class="btn btn-primary btn-icon-split" title="Nuevo Registro"> 
								<span class="icon text-white-50"><i class="fas fa-plus"></i></span> <span class="text">Nuevo</span>
							</a>
						</div>
						<div class="panel-body" style="width: 100%">
							<!-- <div class="col-lg-10 mt-5 mb-5">
								<table id="tablepais" class="table table-bordered table-responsive" style="width: 100%">
									<thead class="text-info">
										<th>#ID</th>
										<th>Pa&iacute;s</th>
										<th>Gentilicio</th>
										<th>Estado</th>
										<th>Operaciones</th>
									</thead>
									<tbody>
										<tr th:each="p : ${entityPage.content}" th:object="${p}">
											<td th:text="${p.id}"></td>
											<td th:text="${p.nombre}"></td>
											<td th:text="${p.gentilicio}"></td>
											<td th:text="${p.activo} ? 'ACTIVO' : 'INACTIVO'" /></td>
											<td>
												<a id="btnVer" class="btn btn-info" th:href="@{/base/paises/{id}(id=${p.id})}">Ver</a>
												<a id="btnEditar" class="btn btn-success" th:href="@{/base/paises/edit={id}(id=${p.id})}">Actualizar</a>
												<a id="btnEliminar" class="btn btn-danger" th:href="@{/base/paises/delete/{id}(id=${p.id})}" >Eliminar</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="container">
									<ul class="pagination">
										<li th:if="${entityPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
											<a th:href="@{/base/paises (size=${entityPage.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==entityPage.number + 1} ? active"></a>
										</li>
									</ul>
								</div>
							</div> -->
							<!-- *** -->
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table id="tablepais" class="table">
											<thead class=" text-primary">
												<th>#ID</th>
												<th>Pa&iacute;s</th>
												<th>Gentilicio</th>
												<th>Estado</th>
												<th>Operaciones</th>
											</thead>
											<tbody>
												<tr th:each="p : ${entityPage.content}" th:object="${p}">
													<td th:text="${p.id}"></td>
													<td th:text="${p.nombre}"></td>
													<td th:text="${p.gentilicio}"></td>
													<td th:text="${p.activo} ? 'ACTIVO' : 'INACTIVO'" /></td>
													<td>
														<a id="btnVer" class="btn btn-info btn-sm" th:href="@{/base/paises/{id}(id=${p.id})}"> 
															<i class="material-icons">info_outline</i> Ver
														</a> 
														<a id="btnEditar" class="btn btn-success btn-sm" th:href="@{/base/paises/edit={id}(id=${p.id})}"> 
															<i class="material-icons">edit</i> Actualizar
														</a> 
														<a id="btnEliminar" class="btn btn-danger btn-sm" th:href="@{/base/paises/delete/{id}(id=${p.id})}"> 
															<i class="material-icons">close</i>Eliminar
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="container">
										<ul class="pagination">
											<li th:if="${entityPage.totalPages > 0}" class="pagination"
												th:each="pageNumber : ${pageNumbers}"><a
												th:href="@{/base/paises (size=${entityPage.size}, page=${pageNumber})}"
												th:text=${pageNumber}
												th:class="${pageNumber==entityPage.number + 1} ? active"></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- *** -->
						</div>
					</div>
				</div>
			</div>
			<!-- </div> -->
		</div>
	</div>
	<!-- <footer th:replace="plantillas/plantilla_listado :: footer"></footer> -->
</body>
<script>
	$(document).ready(function() {
		// $('#tablepais').DataTable(); 
		console.log('Listado de paises');
	});
</script>
</html>

