<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-header panel-header-info" style="background-color: #00BCD4">
							<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-body">
										<form th:action="@{/base/mediospago/{id}(id=*{id})}" th:method="put" th:object="${medioPago}">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">#Id</label>
														<input class="form-control" readonly type="number" th:field="*{id}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Medio de Pago</label>
														<input class="form-control" type="text" th:field="*{nombre}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Tipo</label>
														<input class="form-control" type="text" th:field="*{tipoMedioPago}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label">Depositable</label> 
														<input class="form-control" type="checkbox" th:field="*{depositable}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label">Activo</label> 
														<input class="form-control" type="checkbox" th:field="*{activo}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Acerca de</label>
														<div class="form-group">
															<label class="bmd-label-floating">
																Registro de Medios Pago necesario para la tabla de Medios de Pago.
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<button class="btn btn-default" type="submit">
													<span class="icon text-white-50"><i class="fas fa-save"></i></span>
													<span class="text"> Guardar</span>
												</button>
												<a class="btn btn-link" href="/base/mediospago">Volver</a>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer> -->

</body>
</html>
