<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-header panel-header-info" style="background-color: #00BCD4">
							<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})"></div>
						</div>
					</div>
					<div class="container">
						<form th:object="${medioPago}">
							<div class="form-group col-md-6">
								<label class="control-label">#Id</label> 
								<input class="form-control" readonly type="text" th:value="${medioPago.id}" />
							</div>
							<div class="form-group col-md-6">
								<label class="control-label">Nombre</label> 
								<input class="form-control" readonly type="text" th:value="${medioPago.nombre}" />
							</div>
							<div class="form-group col-md-6">
								<label class="control-label">Depositable</label> 
								<input class="form-control" disabled type="checkbox" th:checked="${medioPago.depositable}" />
							</div>
							<div class="form-group col-md-6">
								<label class="control-label">Activo</label> 
								<input class="form-control" disabled type="checkbox" th:checked="${medioPago.activo}" />
							</div>
						</form>
						<div class="pull-right">
							<a class="btn btn-success" th:href="@{/base/mediospago/edit={id}(id=${medioPago.id})}">Actualizar</a>
							<a class="btn btn-info " href="/base/mediospago">Volver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer>

</body>
</html>
