<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:inline="javascript">
	var real_data = /*[[${ciudades}]]*/'noValue';
    $(document).ready(function() {
        $("#nameInput").autocomplete({
            minLength : 1,
            source : real_data,
            select : function(e, ui) {
                $("#nameOutput").text('You have selected : ' + ui.item.value);
                return ui.item.value;
            }
        })
    });
</script>
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-header panel-header-info" style="background-color: #00BCD4">
							<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-body">
										<form th:action="@{/base/barrios/{id}(id=*{id})}" th:method="put" th:object="${barrio}">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">#Id</label>
														<input class="form-control" readonly type="number" th:field="*{id}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Barrio</label>
														<input class="form-control" type="text" th:field="*{nombre}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="bmd-label-floating">Ciudad</label>
														<input class="form-control" list="ciudades" id="ciudadesinput" name="ciudad.nombre" />
												      	<datalist id="ciudades">
												       		<option th:each="row : ${lista_ciudades}" th:value="${row.nombre}" th:label="${row.nombre}">
												      	</datalist>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label">Activo</label> 
														<input class="form-control" type="checkbox" th:field="*{activo}" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Acerca de</label>
														<div class="form-group">
															<label class="bmd-label-floating">
																Registro de Barrios necesario para la tabla de Barrios.
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<button class="btn btn-default" type="submit">
													<span class="icon text-white-50"><i class="fas fa-save"></i></span>
													<span class="text"> Guardar</span>
												</button>
												<a class="btn btn-link" href="/base/barrios">Volver</a>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer> -->

</body>
</html>

