<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla_cuerpo :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/plantilla_cuerpo :: sidebar"></div>
	<div th:insert="plantillas/plantilla_cuerpo :: main-panel (modulo=${modulo})"></div>

	<div class="main-panel">
	 	<div class="container-fluid">
	 		<div class="row">
	 			<div class="col-md-12">
	 				<div class="panel">
	 					<div class="panel-header panel-header-info" style="background-color:#00BCD4">
	                  		<div th:insert="plantillas/plantilla_cuerpo :: titulo-cuerpo (titulo_cuerpo=${titulo_cuerpo})">
	                  		</div>
	                	</div>
	 				</div>
               		<div class="container">
               			<form th:action="@{/base/barrios/{id}(id=*{id})}" th:method="put" th:object="${barrio}">  
               			
               				<div class="form-group col-md-6">
					          <label class="control-label">Id</label>
					          <input class="form-control" readonly type="number" th:field="*{id}" />
					        </div>             			
					        
					        <div class="form-group col-md-6">
					          <label class="control-label">Nombre</label>
					          <input class="form-control" type="text" th:field="*{nombre}" />
					        </div>

					       
					        
					        <div class="form-group col-md-6">
					          <label class="control-label">Activo</label>
					          <input class="form-control" type="checkbox" th:field="*{activo}" />
					        </div>
					        
					        <button class="btn btn-default" type="submit">Guardar</button>
					        
					      </form>
					      <div class="pull-right">
					        <a class="btn btn-succes" href="/base/paises">Volver</a>
					      </div>
					        
               		</div>
	 			</div>
	 		</div>
		 </div>
	</div>
<!-- 		<footer th:replace="plantillas/plantilla_cuerpo :: footer"></footer> -->
	
</body>

</html>
					      
