<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/layout :: head">
</head>
<meta charset="utf-8">
<body>
	<div th:replace="plantillas/layout :: sidebar"></div>
	<div class="main-panel">	
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="/base"><i class="fa fa-home"></i> Módulo Base</a>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item active"><a class="nav-link" href="/base/infonegocio">Negocio
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/base">Base</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/compras">Compras</a>
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Ventas </a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">Action</a> <a
									class="dropdown-item" href="#">Another action</a> <a
									class="dropdown-item" href="#">Something else here</a>
							</div></li>
					</ul>

					<ul
						class="navbar-nav collapse navbar-collapse justify-content-end">
						<li class="nav-item"><a class="nav-link" href="javascript:;">
								<i class="material-icons">account_circle</i> Accounts
						</a></li>
					</ul>

				</div>
			</nav>
			<div style="padding:10px;"> estoy en el home del modulo base</div>
		<footer th:replace="plantillas/layout :: footer"></footer>
	</div>
</body>

</html>